@import 'src/styles/variables.scss';

.ss_card {
  padding: $margin__3;
  background-color: $color__white;
  margin-top: $margin__3;
  margin-bottom: $margin__3;
}

.ss_divider {
  border: none;
  height: 1px;
  background-color: $color__grey--lighter;
  width: 100%;
  margin-top: $margin__3;
  margin-bottom: $margin__3;
}

.ss_elevation-1 {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
    0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
}

.ss_elevation-2 {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
    0 1px 1px rgba(16, 22, 26, 0.2),
    0 2px 6px rgba(16, 22, 26, 0.2);
}

.ss_elevation-3 {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
    0 2px 4px rgba(16, 22, 26, 0.2),
    0 8px 24px rgba(16, 22, 26, 0.2);
}

.ss_elevation-4 {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
    0 4px 8px rgba(16, 22, 26, 0.2),
    0 18px 46px 6px rgba(16, 22, 26, 0.2);
}

.ss_section {
  &--full-height {
    height: 100%;
  }
}
