@import 'src/styles/variables.scss';

$zindex__cell-active: 8;
$zindex__circle-container: 7;
$zindex__menu-item: 6;
$zindex__cell-number: 5;
$zindex__small-sudoku-title: 4;

.ss_cell-container {
    position: relative;
    width: 33.333%;
    height: 33.333%;
    border-width: 1px;
    border-style: solid;
    border-color: $color__grey--lighter;

    &:hover {
        border-color: $color__blue;
        cursor: pointer;
    }
}

.ss_cell-container--initial {
    font-weight: bold;
    pointer-events: none;
    cursor: default;

    &:hover {
        cursor: default;
    }
}

.ss_cell {
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;

}

.ss_cell--active {
    z-index: $zindex__cell-active;
    background-color: white;
    pointer-events: none;
}

.ss_cell-note-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ss_cell-number {
    z-index: $zindex__cell-number;
    font-size: 16px;
}

.ss_cell-note {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 33.33%;
    color: $color__grey--light;

    @media (max-width: 600px) {
        font-size: 10px;
    }
}

.ss_grid-container {
    color: black;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.75);
    background-color: white;
    width: 550px;
    height: 550px;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;

    @media (max-width: 600px) {
        width: calc(100vw - 2rem);
        height: calc(100vw - 2rem);
    }

    @media (min-width: 601px) and (max-width: 800px) {
        width: 450px;
        height: 450px;
    }
}

.ss_grid-3x3 {
    border: 1px solid $color__grey--light;
    display: flex;
    flex-wrap: wrap;
    width: 33.333%;
    height: 33.333%;
}

.ss_menu-circle {
    stroke-width: 50px;
    stroke: $color__blue;

    &:hover {
        stroke-width: 60px;
        cursor: pointer;
        stroke: $color__dark-blue;
    }
}

.ss_menu-circle-notes {
    stroke-width: 50px;
    stroke: $color__grey--brighter;

    &:hover {
        stroke-width: 60px;
        cursor: pointer;
        stroke: $color__black;
    }
}

.ss_menu-circle-notes-hover {
    stroke-width: 60px;
    cursor: pointer;
    stroke: $color__black;
}

.ss_menu-circle-hover {
    stroke-width: 60px;
    cursor: pointer;
    stroke: $color__dark-blue;
}

.ss_menu-square {
    fill: white;
    transform: translate(-50%, -50%);
}

.ss_menu-circle-container {
    z-index: $zindex__circle-container;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.ss_menu-container {
    position: relative;
    display: block;
}

.ss_menu-row {
    display: flex;
}

.ss_menu-item {
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $zindex__menu-item;
}

.ss_small-sudoku {
  position: relative;
  background-color: white;
  margin: 10px;
  cursor: default;

  &:hover {
    box-shadow:
      1px 1px 1px 1px $color__blue,
      -1px 1px 1px 1px $color__blue,
      1px -1px 1px 1px $color__blue;
  }
}

.ss_small-sudoku-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color__blue, 0.8);
  color: $color__white;
  font-size: 14px;
  position: absolute;
  height: 34px;
  z-index: $zindex__small-sudoku-title;
  width: 34px;
  top: 0;
  left: 0;
}
