@import 'src/styles/variables.scss';

.ss_navigation-wrapper {
    position: relative;
    padding: 10px;
    color: white;
    background-color: $color__blue;
    border-bottom: 1px solid $color__dark-blue-two;
}

.ss_navigation-item {
    color: $color__grey--lighter;
    flex: none;
    padding: 10px;
    text-decoration: none;

    &:hover {
        color: white;
        cursor: pointer;
    }

    &--active {
      color: black;
    }
}
