@import 'src/styles/variables';

.ss_footer {
  border-top: 1px solid $color__dark-blue-two;
  background-color: $color__blue;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: $layout__footer-height;
  display: flex;
  align-items: center;
  z-index: $zindex__footer;
}

.ss_footer-logo {
  height: 30px;
  img {
    height: 100%;
  }
}

.ss_footer-btn {
  color: white;
  text-decoration: none;
  padding: $margin__1 $margin__2;
}
