.opacity-enter {
    opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.opacity-leave {
    opacity: 1;
}

.opacity-leave.opacity-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
}

.opacity-appear {
    opacity: 0.01;
}

.opacity-appear.opacity-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
}
