@import './variables.css';

/*
    This is one of the biggest problems currently with postCSS.
    Without using something like scss as another processer,
    there is not a reliable way to iterate through an array and use
    the variables as names.
    The problems arise when using hashes for the postCSS-classes, as
    we are doing here.
    (There are some iterating extensions available, I tried them.).
*/

/* TEXT COLORS */

.color-white {
    color: var(--color__white);
}

.color-black {
    color: var(--color__black);
}

.color-grey {
    color: var(--color__grey);
}

.color-grey--light {
    color: var(--color__grey--light);
}

.color-grey--brighter {
    color: var(--color__grey--brighter);
}

.color-grey--lighter {
    color: var(--color__grey--lighter);
}

.color-primary {
    color: var(--color__primary);
}

.color-red {
    color: var(--color__red);
}

.color-red-two {
    color: var(--color__red-two);
}

.color-blue--dark {
    color: var(--color__blue--dark);
}

.color-blue {
    color: var(--color__blue);
}

.color-green--dark {
    color: var(--color__green--dark);
}

.color-green {
    color: var(--color__green);
}

.color-orange {
    color: var(--color__orange);
}

/* TEXT HOVER COLORS */

.color-hover-black:hover {
    color: var(--color__black);
}

.color-hover-grey:hover {
    color: var(--color__grey);
}

.color-hover-grey--brighter:hover {
    color: var(--color__grey--brighter);
}

.color-hover-grey--light:hover {
    color: var(--color__grey--light);
}

.color-hover-grey--lighter:hover {
    color: var(--color__grey--lighter);
}

.color-hover-primary:hover {
    color: var(--color__primary);
}

.color-hover-red:hover {
    color: var(--color__red);
}

.color-hover-red-two:hover {
    color: var(--color__red-two);
}

.color-hover-blue--dark:hover {
    color: var(--color__blue--dark);
}

.color-hover-blue:hover {
    color: var(--color__blue);
}

.color-hover-green--dark:hover {
    color: var(--color__green--dark);
}

.color-hover-green:hover {
    color: var(--color__green);
}

.color-hover-orange:hover {
    color: var(--color__orange);
}

/* BACKGROUND COLORS */

.bg-color-white {
    background-color: var(--color__white);
}

.bg-color-black {
    background-color: var(--color__black);
}

.bg-color-grey {
    background-color: var(--color__grey);
}

.bg-color-grey--brighter {
    background-color: var(--color__grey--brighter);
}

.bg-color-grey--light {
    background-color: var(--color__grey--light);
}

.bg-color-grey--lighter {
    background-color: var(--color__grey--lighter);
}

.bg-color-primary {
    background-color: var(--color__primary);
}

.bg-color-red {
    background-color: var(--color__red);
}

.bg-color-red-two {
    background-color: var(--color__red-two);
}

.bg-color-blue--dark {
    background-color: var(--color__blue--dark);
}

.bg-color-blue {
    background-color: var(--color__blue);
}

.bg-color-green--dark {
    background-color: var(--color__green--dark);
}

.bg-color-green {
    background-color: var(--color__green);
}

.bg-color-orange {
    background-color: var(--color__orange);
}

.bg-color-hover-white:hover {
    background-color: var(--color__white);
}

.bg-color-hover-black:hover {
    background-color: var(--color__black);
}

.bg-color-hover-grey:hover {
    background-color: var(--color__grey);
}

.bg-color-hover-grey--brighter:hover {
    background-color: var(--color__grey--brighter);
}

.bg-color-hover-grey--light:hover {
    background-color: var(--color__grey--light);
}

.bg-color-hover-grey--lighter:hover {
    background-color: var(--color__grey--lighter);
}

.bg-color-hover-primary:hover {
    background-color: var(--color__primary);
}

.bg-color-hover-red:hover {
    background-color: var(--color__red);
}

.bg-color-hover-red-two:hover {
    background-color: var(--color__red-two);
}

.bg-color-hover-blue--dark:hover {
    background-color: var(--color__blue--dark);
}

.bg-color-hover-blue:hover {
    background-color: var(--color__blue);
}

.bg-color-hover-green--dark:hover {
    background-color: var(--color__green--dark);
}

.bg-color-hover-green:hover {
    background-color: var(--color__green);
}

.bg-color-hover-orange:hover {
    background-color: var(--color__orange);
}

/* BORDER COLORS */

.border-color-white {
    border-color: var(--color__white);
}

.border-color-black {
    border-color: var(--color__black);
}

.border-color-grey {
    border-color: var(--color__grey);
}

.border-color-grey--brighter {
    border-color: var(--color__grey--brighter);
}

.border-color-grey--light {
    border-color: var(--color__grey--light);
}

.border-color-grey--lighter {
    border-color: var(--color__grey--lighter);
}

.border-color-primary {
    border-color: var(--color__primary);
}

.border-color-red {
    border-color: var(--color__red);
}

.border-color-red-two {
    border-color: var(--color__red-two);
}

.border-color-blue--dark {
    border-color: var(--color__blue--dark);
}

.border-color-blue {
    border-color: var(--color__blue);
}

.border-color-green--dark {
    border-color: var(--color__green--dark);
}

.border-color-green {
    border-color: var(--color__green);
}

.border-color-orange {
    border-color: var(--color__orange);
}
