$color__white: white;
$color__black: #252731;
$color__grey: #555555;
$color__grey--brighter: #808080;
$color__grey--light: #C2C2C2;
$color__grey--lighter: #EEEEEE;
$color__blue: #4470C1;
$color__dark-blue: #3053AF;
$color__dark-blue-two: #2640A5;
