// COLORS

$color__white: white;
$color__black: #252731;
$color__grey: #555555;
$color__grey--brighter: #808080;
$color__grey--light: #C2C2C2;
$color__grey--lighter: #EEEEEE;
$color__blue: #4470C1;
$color__dark-blue: #3053AF;
$color__dark-blue-two: #2640A5;

// MARGINS

$margin__1: 5px;
$margin__2: 10px;
$margin__3: 20px;
$margin__4: 40px;

// BREAKPOITNS

$screen__sm-container: 720px;
$screen__md-container: 850px;
$screen__lg-container: 950px;

$screen__sm: 768px !default;
$screen__md: 992px !default;
$screen__lg: 1200px !default;

// LAYOUT

$layout__footer-height: 100px;

// z-indexs

$zindex__header: 10;
$zindex__footer: 10;
$zindex__game-menu: 9;
