@import 'src/styles/variables.css';

.navigation-wrapper {
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
    color: white;
    display: flex;
    background-color: var(--color__blue);
    border-bottom: 1px solid var(--color__dark-blue-two);
}

.navigation-item {
    color: var(--color__grey--lighter);
    flex: none;
    padding: 10px;
    text-decoration: none;

    &:hover {
        color: white;
        cursor: pointer;
    }
}

.navigation-item--active {
    composes: color-black from 'src/styles/colors.css';
}
