@import 'src/styles/variables.scss';

.ss_header {
  color: $color__white;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 56px;
  margin: 0;

  &--margin {
    margin-bottom: $margin__4;
  }
}

.ss_play {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $color__white;
  margin-top: $margin__3;
  padding: $margin__2 $margin__2;
  color: $color__dark-blue;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: $color__grey--lighter;
  }
}
