@import 'src/styles/variables.scss';

.ss_sudoku-container {
    display: flex;
    justify-content: center;
}

.ss_game {
    background-color: $color__dark-blue-two;
}

.ss_game-container {
    color: white;
    margin: auto;
    width: 550px + $margin__2 * 2;
    padding: $margin__2;
    position: relative;

    @media (max-width: 600px) {
        width: calc(100vw - 2rem);
    }

    @media (min-width: 601px) and (max-width: 800px) {
        width: 450px + $margin__2 * 2;
    }
}

.ss_game-headline {
  color: white;
  text-align: center;
}

.ss_pause-button {
    float: right;
}

.ss_game-menu {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: $zindex__game-menu;
    padding-top: 90px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;

    &--sudoku-list {
      overflow-y: auto;
    }
}

.ss_game-menu-list {
    padding: 0;
    margin: 0;
}

.ss_game-menu-list-item {
    color: white;
    background-color: $color__blue;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;

    &:hover {
        cursor: pointer;
        background-color: $color__dark-blue;
    }
}

/* SUDOKU SELECT */

.ss_sudoku-menu-list {
  padding: 0;
  margin: 0;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.ss_game-menu-difficulty {
  position: absolute;
  top: 0;
  background: $color__blue;
  color: white;
  padding: $margin__2;
  text-transform: uppercase;
}

.ss_game-menu-button {
  background: $color__blue;
  padding: $margin__2;
  font-size: 14px;
  text-transform: capitalize;
  color: white;
  border: none;
  margin: $margin__1;
  width: 60px;

  &:hover {
    background: $color__dark-blue;
  }
}
