.sudoku-container {
    display: flex;
    justify-content: center;
}

.game-container {
    color: white;
    margin: auto;
    width: 550px;

    @media (max-width: 600px) {
        width: calc(100vw - 2rem);
    }

    @media (min-width: 601px) and (max-width: 800px) {
        width: 450px;
    }
}
